params {
    input_path = '/scratch/sb14489/9.spatialRNAseq/1.MappedData_HighRead/zma_ear_wt1_bif2_B/outs'
    output_path = '/scratch/sb14489/9.spatialRNAseq/2.QC_MarkerGene/Nextflowtest/'
    output_name = 'A619_B'
    MarkerGene = '/scratch/sb14489/3.scATAC/0.Data/MarkerGene/SpatialMarkerFinal.txt'
    ScriptDir = '/home/sb14489/Epigenomics/Spatial/1_QC_MarkerGene/'
}
